.ctn{
  overflow: hidden;
  position: relative;
  background-image: url('../../assets/liquidity-2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.wrp1, .wrp2, .wrp3{
  min-width: fit-content;
  display: flex;
  gap: 30px;
  justify-content: space-around;
  flex-shrink: 0;
  padding: 30px 0px;
  transition: all ease-in-out .5s;
  transform: translateX(0%);
  animation: slide 3000s infinite linear;
}

.wrp2{
  animation: slideReverse 3200s infinite linear;
}

.wrp3{
  flex-direction: row-reverse;
  animation: slide 3100s infinite linear;
}

.imgWrp{
  width: 180px;
  height: 60px;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgWrp img{
  padding: 10px;
  width: 100px;
  object-fit: cover;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% + 1400px));
  }
}


@keyframes slideReverse {
  from {
    transform: translateX(calc(-100% + 1400px));
  }
  to {
    transform: translateX(0);
  }
}