@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&amp;display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --thm-body-font: 'Krub', sans-serif;
  --thm-heading-font: 'Rubik', sans-serif;
  --thm-primary: #00f0ff;
  --thm-primary-rgb: 0, 240, 255;
  --thm-secondary: #00f0ff;
  --thm-secondary-rgb: 0, 240, 255;
  --thm-body-font-color: #60666c;
  --thm-paragraph-color: #60666c;
  --thm-body-font-size: 16px;
  --thm-body-font-weight: 400;
  --thm-heading-font-color: #0d4250;
  --thm-heading-font-weight: 700;
  --thm-body-background: #ffffff;
  --thm-bg-one: #0d4250;
  --thm-bg-two: #186265;
  --thm-white: #ffffff;
  --thm-black: #0d4250;
  --thm-blue: #0d6efd;
  --thm-indigo: #6610f2;
  --thm-purple: #6f42c1;
  --thm-pink: #d63384;
  --thm-red: #dc3545;
  --thm-orange: #fd7e14;
  --thm-yellow: #ffc107;
  --thm-green: #198754;
  --thm-teal: #20c997;
  --thm-cyan: #0dcaf0;
}

#gt_float_wrapper .gt_float_switcher .gt-selected .gt-current-lang {
  padding: 6px;
}

#gt_float_wrapper .gt_float_switcher {
  border-radius: 6px;
  font-family: 'Palanquin';
  font-size: 0.9rem;
}

#gt_float_wrapper .nturl {
  display: flex;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
}

section {
  width: 100%;
}

h1,
h2 {
  line-height: normal !important;
}

h3,
p {
  font-family: 'Palanquin' !important;
}

.pending {
  color: #e9a52b;
}
.success {
  color: #4ecb71;
}
.failed {
  color: #d34053;
}

#heroSection {
  background-image: linear-gradient(
    70deg,
    #000000,
    #050812,
    #000000,
    #000615,
    #000000
  );
}

.slideLoad {
  transition: all ease-in-out 0.5s;
  animation: toNfro 4s linear 0s infinite;
  position: fixed;
  left: 0;
  bottom: 0;
}

@keyframes toNfro {
  0% {
    width: 0%;
    left: 0%;
  }
  50% {
    width: 70%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 0%;
  }
}

.scaleWrp {
  animation: scale 20s linear 0s infinite;
  z-index: 10;
}

@keyframes scale {
  0% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

/* button styling */
.bigBtn {
  width: fit-content;
  background: #113505 !important;
  padding: 19px 40px;
  border-radius: 10px;
  color: #ffffff;
  transition: all ease-out 0.3s;
  transition-delay: 0.1s;
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.bigBtn svg {
  font-size: 1.2rem;
}

.bigBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0085ff;
  transform: scaleX(0);
  transform-origin: 0;
  transition: all ease-in-out 0.3s;
  z-index: -1;
}

span.amount {
  font-family: Arial, Helvetica, sans-serif;
}

.bigBtn:hover:before,
.bigBtn:focus:before {
  transform: scaleX(1);
}

.spin {
  animation: spin 1s linear infinite;
  font-size: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .max-ctn {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-900 pl-5 max-sm:p-4 outline-none sm:border-none border max-sm:border-slate-900 max-sm:rounded-full;
  }

  .editUserInput {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .editUserLabel {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }

  .primaryBtn {
    @apply text-white py-[18px] px-4 inline-block rounded-xl font-semibold text-sm bg-gray-900;
  }
}

@layer base {
  body {
    @apply font-satoshi font-normal text-base text-body bg-whiten relative z-1;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .pad {
    @apply sm:px-16 px-5 sm:py-24 py-12;
  }

  .pad-x {
    @apply sm:px-16 px-5;
  }

  .pad-y {
    @apply sm:py-24 py-12;
  }

  .pad-l {
    @apply sm:pl-16 pl-5;
  }

  .pad-r {
    @apply sm:pr-16 pr-5;
  }

  .pad-t {
    @apply sm:pt-24 pt-12;
  }

  .pad-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-900 text-lg leading-7;
  }

  .hd-text {
    @apply text-3xl font-semibold md:text-5xl;
  }

  .desc {
    @apply mb-6 max-w-[528px] text-xl md:mb-10 lg:mb-12;
  }

  .avatar {
    @apply inline-block h-12 w-12 rounded-full object-cover z-10;
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

/* third-party libraries CSS */

.tableCheckbox:checked ~ div span {
  @apply opacity-100;
}
.tableCheckbox:checked ~ div {
  @apply bg-primary border-primary;
}

.apexcharts-legend-text {
  @apply !text-body dark:!text-bodydark;
}
.apexcharts-text {
  @apply !fill-body dark:!fill-bodydark;
}
.apexcharts-xcrosshairs {
  @apply !fill-stroke dark:!fill-strokedark;
}
.apexcharts-gridline {
  @apply !stroke-stroke dark:!stroke-strokedark;
}
.apexcharts-series.apexcharts-pie-series path {
  @apply dark:!stroke-transparent;
}
.apexcharts-legend-series {
  @apply !inline-flex gap-1.5;
}
.apexcharts-tooltip.apexcharts-theme-light {
  @apply dark:!bg-boxdark dark:!border-strokedark;
}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  @apply dark:!bg-meta-4 dark:!border-strokedark;
}
.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
  @apply dark:!bg-meta-4 dark:!border-meta-4 dark:!text-bodydark1;
}
.apexcharts-xaxistooltip-bottom:after {
  @apply dark:!border-b-meta-4;
}
.apexcharts-xaxistooltip-bottom:before {
  @apply dark:!border-b-meta-4;
}

.flatpickr-day.selected {
  @apply bg-primary border-primary hover:bg-primary hover:border-primary;
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  @apply fill-primary;
}
.flatpickr-calendar.arrowTop:before {
  @apply dark:!border-b-boxdark;
}
.flatpickr-calendar.arrowTop:after {
  @apply dark:!border-b-boxdark;
}
.flatpickr-calendar {
  @apply dark:!bg-boxdark dark:!text-bodydark dark:!shadow-8 !p-6 2xsm:!w-auto;
}
.flatpickr-day {
  @apply dark:!text-bodydark;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  @apply !top-7 dark:!text-white dark:!fill-white;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  @apply !left-7;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  @apply !right-7;
}
span.flatpickr-weekday,
.flatpickr-months .flatpickr-month {
  @apply dark:!text-white dark:!fill-white;
}
.flatpickr-day.inRange {
  @apply dark:!bg-meta-4 dark:!border-meta-4 dark:!shadow-7;
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.selected,
.flatpickr-day.endRange {
  @apply dark:!text-white;
}

.map-btn .jvm-zoom-btn {
  @apply flex items-center justify-center w-7.5 h-7.5 rounded border border-stroke dark:border-strokedark hover:border-primary dark:hover:border-primary bg-white hover:bg-primary text-body hover:text-white dark:text-bodydark dark:hover:text-white text-2xl leading-none px-0 pt-0 pb-0.5;
}
.mapOne .jvm-zoom-btn {
  @apply left-auto top-auto bottom-0;
}
.mapOne .jvm-zoom-btn.jvm-zoomin {
  @apply right-10;
}
.mapOne .jvm-zoom-btn.jvm-zoomout {
  @apply right-0;
}
.mapTwo .jvm-zoom-btn {
  @apply top-auto bottom-0;
}
.mapTwo .jvm-zoom-btn.jvm-zoomin {
  @apply left-0;
}
.mapTwo .jvm-zoom-btn.jvm-zoomout {
  @apply left-10;
}

.taskCheckbox:checked ~ .box span {
  @apply opacity-100;
}
.taskCheckbox:checked ~ p {
  @apply line-through;
}
.taskCheckbox:checked ~ .box {
  @apply bg-primary border-primary dark:border-primary;
}

.customInput {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white;
}

.customInputLabel {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.custom-input-date-1::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-calendar.svg);
}
.custom-input-date-2::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-arrow-down.svg);
}

[x-cloak] {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  #headlessui-portal-root .relative {
    margin: 20px 0 !important;
  }

  #headlessui-portal-root .relative span {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 500px) {
  #slide {
    overflow: -moz-hidden-unscrollable;
  }
}

.skiptranslate iframe {
  display: none !important;
}

#google_translate_element {
  height: 35px;
  overflow: hidden;
  border-radius: 5px;
}

#google_translate_element select {
  padding: 5px 0 5px 10px;
  background: transparent;
  border: none;
  font-weight: 1.1rem;
  font-family: sans-serif;
}

#google_translate_element select option {
  color: black;
}

#google_translate_element select:first-child {
  color: white;
}

#google_translate_element span {
  display: none;
}

.sec-title {
  position: relative;
  display: block;
  padding-bottom: 40px;
  font-family: 'Palanquin' !important;
}

.sec-title .sub-title {
  position: relative;
  display: block;
}

.sec-title .sub-title h5 {
  color: var(--thm-primary);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.sec-title .sub-title h5 span {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  top: 1px;
  padding-right: 2px;
}

.sec-title h2 {
  color: var(--thm-heading-font-color);
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
}

/*======================================
 Team One Css
========================================*/
.team-one {
  position: relative;
  display: block;
  padding: 120px 0px 117px;
  z-index: 1;
}

.team-one__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 455px;
  background: var(--thm-primary);
  background-blend-mode: hard-light;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

.team-one__bg::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(var(--thm-primary-rgb), 0.8);
  content: '';
  z-index: -2;
}

.team-one__top {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 58px;
}

.team-one__top .sec-title {
  padding-bottom: 0px;
}

.team-one__top .btn-box {
  position: relative;
  display: block;
  top: -13px;
}

.team-one__top .btn-box .thm-btn:after {
  background-color: var(--thm-white);
}

.team-one__top .sec-title .sub-title h5 {
  color: var(--thm-heading-font-color);
}

.team-one__bottom {
  position: relative;
  display: block;
}

.team-one__single {
  position: relative;
  display: block;
  padding-right: 20px;
  margin-bottom: 50px;
  z-index: 1;
}

.team-one__single::before {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: -20px;
  right: 0;
  background: rgba(var(--thm-secondary-rgb), 0.06);
  border-radius: 4px;
  transition: all 500ms linear;
  transition-delay: 0.1s;
  content: '';
  z-index: -1;
}

.team-one__single:hover::before {
  background: rgba(var(--thm-secondary-rgb), 1);
}

.team-one__single::after {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0px;
  right: 40px;
  border: 1px solid var(--thm-primary);
  border-bottom-left-radius: 4px;
  content: '';
  transition: all 500ms linear;
  transition-delay: 0.1s;
  z-index: -2;
}

.team-one__single:hover::after {
  border-color: var(--thm-secondary);
}

.team-one__single-img {
  position: relative;
  display: block;
  z-index: 3;
}

.team-one__single-img .inner {
  position: relative;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  z-index: 1;
}

.team-one__single-img .inner .social-links {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 30px 2px;
  padding-right: 35px;
  opacity: 0;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  z-index: 5;
}

.team-one__single:hover .team-one__single-img .inner .social-links {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.team-one__single-img .inner .social-links::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--thm-primary);
  clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
  content: '';
  z-index: -1;
}

.team-one__single-img .inner .social-links a {
  position: relative;
  display: block;
  float: left;
  color: var(--thm-white);
}

.team-one__single-img .inner .social-links a:hover {
  color: var(--thm-secondary);
}

.team-one__single-img .inner .social-links a + a {
  margin-left: 20px;
}

.team-one__single-img .inner .social-links a span {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
}

.team-one__single-img .inner::before {
  background: rgba(255, 255, 255, 0.3);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  z-index: 9;
  pointer-events: none;
}

.team-one__single:hover .team-one__single-img .inner::before {
  height: 100%;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.team-one__single-img .inner img {
  width: 100%;
  transition: 0.5s ease;
  transform: scale(1.05);
}

.team-one__single:hover .team-one__single-img .inner img {
  transform: scale(1);
}

.team-one__single-content {
  position: relative;
  display: block;
  padding: 27px 50px 31px;
  padding-right: 30px;
  z-index: 1;
}

.team-one__single-content::before {
  position: absolute;
  top: 0;
  left: 19px;
  bottom: 0;
  right: 0;
  background: var(--thm-white);
  border-radius: 4px 4px 4px 0px;
  content: '';
  z-index: -1;
}

.team-one__single-content h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 2px;
}

.team-one__single-content h3 a {
  color: var(--thm-heading-font-color);
  background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px
    95% / 0px 1px no-repeat;
  color: inherit;
  transition: all 500ms ease;
}

.team-one__single-content h3 a:hover {
  background-size: 100% 1px;
}

.team-one__single-content p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}

#team-one__pagination {
  position: relative;
  padding-top: 15px;
  z-index: 55;
}

#team-one__pagination .swiper-pagination-bullet {
  position: relative;
  width: 8px;
  height: 8px;
  margin: 0px 10px;
  background: #d0dadc;
  border-radius: 50%;
  opacity: 1;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

#team-one__pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--thm-secondary);
}

#team-one__pagination .swiper-pagination-bullet::before {
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border: 1px solid var(--thm-secondary);
  border-radius: 50%;
  transform: scaleX(0);
  transition: all 200ms linear;
  transition-delay: 0.1s;
  content: '';
}

#team-one__pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active::before,
#team-one__pagination .swiper-pagination-bullet:hover {
  transform: scaleX(1);
}

/*=============================
Working Process One Css
===============================*/
.working-process-one {
  position: relative;
  display: block;
  padding: 150px 0;
  z-index: 1;
}

.working-process-one__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.working-process-one__bg::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) -6.07%,
    rgba(5, 65, 67, 0.9) 43.65%
  );
  content: '';
  z-index: -2;
}

.working-process-one .sec-title {
  padding-bottom: 122px;
}

.working-process-one .sec-title h2 {
  color: var(--thm-white);
}

.working-process-one__single {
  position: relative;
  display: block;
  max-width: 310px;
  width: 100%;
  z-index: 1;
}

.working-process-one__single.ml60 {
  margin-left: 60px;
}

.working-process-one__single.ml80 {
  margin-left: 80px;
}

.working-process-one__single .shape1 {
  position: absolute;
  top: -65px;
  right: -115px;
  z-index: -1;
}

.working-process-one__single.ml60 .shape1 {
  right: -90px;
}

.working-process-one__single-top {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}

.working-process-one__single-top .icon {
  position: relative;
  display: block;
  transition: all 300ms linear;
  transition-delay: 0.1s;
}

.working-process-one__single:hover .working-process-one__single-top .icon {
  transform: rotateY(180deg);
}

.working-process-one__single-top .icon img {
  width: auto;
}

.working-process-one__single-top .text {
  position: relative;
  display: block;
  margin-left: 30px;
  flex: 1;
}

.working-process-one__single-top .text h2 {
  color: var(--thm-primary);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.working-process-one__single-content {
  position: relative;
  display: block;
}

.working-process-one__single-content h2 {
  color: var(--thm-white);
  font-size: 24px;
  font-family: 'Palanquin' !important;
  line-height: 36px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.working-process-one__single-content h2 a {
  color: var(--thm-white);
}

.working-process-one__single-content h2 a:hover {
  color: var(--thm-primary);
}

.working-process-one__single-content p {
  color: #bdbdbd;
  font-weight: 400;
}

.auto-container {
  position: static;
  max-width: 1320px;
  width: 100%;
  padding: 0px 12px;
  margin: 0 auto;
}
